lambda-functions/create-step-function-helper/step-function-spec.json
{
  "Comment": "Image Processing workflow",
  "StartAt": "ExtractImageMetadata",
  "States": {
    "ExtractImageMetadata": {
      "Type": "Task",
      "Resource": "TO_BE_REPLACED",
      "Next": "ImageTypeCheck"
    },
    "ImageTypeCheck": {
      "Type": "Choice",
      "Choices": [
        {
          "Or": [
            {
              "Variable": "$.format",
              "StringEquals": "JPEG"
            },
            {
              "Variable": "$.format",
              "StringEquals": "PNG"
            }
          ],
          "Next": "StoreImageMetadata"
        }
      ],
      "Default": "NotSupportedImageType"
    },
    "StoreImageMetadata": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-west-2:012345678912:function:SaveImageMetadata",
      "Next": "ParallelProcessing"
    },
    "NotSupportedImageType": {
      "Type": "Fail",
      "Cause": "Image type not supported!",
      "Error": "FileTypeNotSupported"
    },
    "ParallelProcessing": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Rekognition",
          "States": {
            "Rekognition": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-2:012345678912:function:Rekognition",
              "Next": "AddRekognizedTags"
            },
            "AddRekognizedTags": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-2:012345678912:function:addRekognizedTags",
              "End": true
            }
          }
        },
        {
          "StartAt": "Thumbnail",
          "States": {
            "Thumbnail": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:us-west-2:012345678912:function:GenerateThumbnail",
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}

